<% if flash[:error] %>
    <div class="errors flash fatal">
        <h4 class="error"><%= flash[:error] %></h4>
    </div>
<% end %>

<h1 class="no-margin">Welcome, <%= current_user.username %>!</h1>

<h2>
    My Watches:
</h2>

<ul>
    <% @user.watches.all.each do |watch| %>
      <li> <b>Watch: </b><a href="/watches/<%= watch.id %>"><%= watch.name %> </a></li>
      <li> <b>Brand: </b><%= watch.brand %> </a></li>
      <li> <b>Price: </b>$<%= watch.price %> </a></li>
      <br>
    <% end %>
  </ul>

<br>


<div>
    <button type="button" class="btn btn-light">
    <a class="add-button" href="/watches/new.html"> Add a new watch </a>
    </button>
</div>

<br>


<div><h2>Collection total value: </h2>
$<%=@watchsum%>0
</div>

<br>
<br>

<div>
<form action="/logout" method="POST">
    <input type="hidden" name="_method" value="DELETE">
    <input class="btn" type="submit" value="Log out">
  </form>
</div>