<% if flash[:error] %>
    <div class="errors flash fatal">
        <h4 class="error"><%= flash[:error] %></h4>
    </div>
<% end %>

<h1 class="no-margin">Welcome, <%= current_user.username %>!</h1>

<h2>
    My Collection:
</h2>

<div class="container">
<ul>
    <% @user.watches.all.each do |watch| %>
      <li> <b>Watch: </b><a href="/watches/<%= watch.id %>"><%= watch.name %> </a></li>
      <li> <b>Brand: </b><%= watch.brand %> </a></li>
      <li> <b>Price: </b>$<%= '%.2f'%watch.price %> </a></li>
      <br>
    <% end %>
  </ul>


<div>
    <button type="button" class="btn btn-light">
    <a class="add-button" href="/watches/new.html"> Add a new watch </a>
    </button>
</div>
</div>

<br>


<div class="container">
    <h2>Collection Total Value: </h2> <b>$<%='%.2f'%@watchsum%></b>
</div>


<br>
<br>

<div class="container">
<form action="/logout" method="POST">
    <input type="hidden" name="_method" value="DELETE">
    <input class="btn" type="submit" value="Log out">
  </form>
</div>