<h1><%= @watch.name %></h1>
<p>
<b>Name: </b><%=@watch.name%><br>
<b>Dimensions: </b><%=@watch.dimensions%><br>
<b>Description: </b><%=@watch.description%><br>
<b>Price: </b>$<%=@watch.price%><br>
<b>Brand: </b><%=@watch.brand%><br>
<b>Genre: </b><%=@watch.genre%><br>
<b>Added: </b><%=@watch.created_at%><br>
</p>
<br>

<% if @watch.userwatches.where(:watch_id == @watch.id).last.user_id == @user.id %>
<button type="button" class="btn btn-light">
    <div><a href="/watches/<%=@watch.id%>/edit.html"> Edit Watch</a></div>
</button>
<br>
<br>
<br>

<div class="container">
    <form action="/watches/<%=@watch.id%>" method="post">
        <input type="hidden" name="_method" value="delete">
        <input type="hidden" name="watch[id]" value="<%= @watch.id %>">
        <input class="btn red-outline" type="submit" value="Delete Watch">        
    </form>
</div>
<% else %>
<h2><a href="/watches/<%=@watch.id%>/offers/new.html"> Send Offer</a></h2>
<%end%>


