<div class="container">
<h1><%= @watch.name %></h1>
<p>
<b>Name: </b><%=@watch.name%><br>
<b>Dimensions: </b><%=@watch.dimensions%><br>
<b>Description: </b><%=@watch.description%><br>
<b>Price: </b>$<%=@watch.price%><br>
<b>Brand: </b><%=@watch.brand%><br>
<b>Genre: </b><%=@watch.genre%><br>
<b>Added: </b><%=@watch.created_at%><br>
<%# <%= image_tag(@watch.avatar) if @watch.avatar? %> 
</p>
<img src="<%=@watch.avatar.url%>">
<br>

<% if @watch.users.first.id == @user.id %>  
<button type="button" class="btn btn-light">
    <div><a href="/watches/<%=@watch.id%>/edit.html"> Edit Watch</a></div>
</button>
<br>
<br>
<br>
</div>

<div class="container">
    <form action="/watches/<%=@watch.id%>" method="post">
        <input type="hidden" name="_method" value="delete">
        <input type="hidden" name="watch[id]" value="<%= @watch.id %>">
        <input class="btn red-outline" type="submit" value="Delete Watch">        
    </form>
</div>
<% else %>
<button type="button" class="btn btn-light">
<div><a href="/watches/<%=@watch.id%>/offers/new.html"> Send Offer</a></div>
<%end%>
</button>



