<% if flash[:error] %>
    <div class="errors flash fatal">
        <h4 class="error"><%= flash[:error] %></h4>
    </div>
<% end %>

<h1> My Offers Page </h1>
<br>
<div>
<h2>My Sent Offers</h2>
<div class="container">
<%@offers.each do |offer|%>
    <%if offer.sender_id == current_user.id%>        
        <%wristwatch = Watch.where("id = ?", offer.watch_id)%>
        Watch: <a href="/offers/<%= offer.transaction_id%>"> <%=wristwatch.first.name%>  </a>
        <br>
        Offered Price: <%= '%.2f'%offer.sender_offer_price%>
        <br>
        Status: <%=offer.status%>
        <br>
        Date Sent: <%=offer.timestamp%>
        <br>
        <br>
    <%end%>
<%end%>
</div>
</div>
<br>
<br>
<div>
<h2>My Received Offers</h2>
<div class="container">
    <%@offers.each do |offer|%>
        <%if offer.receiver_id == current_user.id%>
            <%wristwatch = Watch.where("id = ?", offer.watch_id)%>
            Watch: <a href="/offers/<%= offer.transaction_id%>"> <%=wristwatch.first.name%>  </a>
            <br>
            Offered Price: <%= '%.2f'%offer.sender_offer_price%>
            <br>
            Status: <%=offer.status%>
            <br>
            Date Sent: <%=offer.timestamp%>
            <br>
            <br>
        <%end%>
    <%end%>
</div>
</div>




