<h1> New Offer For: <br></h1>
<h2><%= @watch.name %></h2>
<br>

<%if current_user.id == @offer.sender_id %>
    <h3>Offered price: $<%='%.2f'%@offer.sender_offer_price%></h3>

    <div class="container">
    <form action="/offers/<%=@offer.id%>" method="post">
        <input type="hidden" name="_method" value="delete">
        <input type="hidden" name="offer[id]" value="<%= @offer.id %>">
        <input class="btn red-outline" type="submit" value="Delete Offer">        
    </form>
    </div>
<br>

<% elsif current_user.id == @offer.receiver_id && @offer.status != 'Accepted'%>
    <h3>Offered price: $<%='%.2f'%@offer.sender_offer_price%></h3>

    <div class="container">
    <form action="/offers/<%=@offer.id%>" method="post">
        <input type="hidden" name="_method" value="patch">
        <input type="hidden" name="offer[id]" value="<%= @offer.id %>">
        <input class="btn red-outline" type="submit" value="Accept Offer">        
    </form>
    </div>

    <br>

    <div class="container">
    <form action="/offers/<%=@offer.id%>" method="post">
        <input type="hidden" name="_method" value="delete">
        <input type="hidden" name="offer[id]" value="<%= @offer.id %>">
        <input class="btn red-outline" type="submit" value="Decline Offer">        
    </form>
    </div>

<%else %>
    <h3>Offered price: <%='%.2f'%@offer.sender_offer_price%></h3><br>
    <h3>Status: <%=@offer.status%>
<%end%>



